<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jci.vsd">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.NFC" />
    <!-- sd卡存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".application.VsdApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mis_provider_paths"
                tools:replace="name,resource"/>
        </provider>


        <activity
            android:name="com.jci.vsd.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!---
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            -->
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".activity.ReserviorTestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.FoundationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.FillCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.Reim.ReimHomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.Reim.ReimAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.Reim.ReimAddTypeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>


        <activity
            android:name=".activity.Reim.ReimRecycActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.Reim.ReimDocSubmitActivtiy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.Reim.TestDownPic"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.Reim.MyReimActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.Reim.MyReimApprovalDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.Reim.WaitApprovalPicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.Reim.MyApprovalRecyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.Reim.MyApprovalProcessActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.enterprise.RegisterCompanyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.enterprise.EnterpriseUpdateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>



        <activity
            android:name=".activity.enterprise.MembsersManageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.enterprise.DepartmentManageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.enterprise.DepartmentDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.enterprise.NewDeparmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.enterprise.MembsersSelectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.enterprise.BudgetByDepartManageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.enterprise.BudgetByCategoryManageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.enterprise.BudgetChooseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.enterprise.BudgetAddItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.enterprise.EditBudgetItemActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.enterprise.BudgetEditByDeparmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.enterprise.ProducerManageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
        android:name=".activity.enterprise.ProducerAddActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.enterprise.ProducerEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>


        <activity
            android:name=".activity.UserInfo.UserInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.contract.ContractManageRecycleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.contract.ContractAddActivtiy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.contract.RemotelyBillingRecycleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.contract.NewBillingInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.MeFeedBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".activity.UserInfo.VersionInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <activity
            android:name=".activity.RegisterCertActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

        <!--添加图片依赖时需要添加的-->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/customTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service
            android:name="com.jci.vsd.service.NoticeMsgService"
            android:enabled="true"></service>
        <!--LeakCanary 内存泄漏库配置-->
        <service
            android:name="com.squareup.leakcanary.internal.HeapAnalyzerService"
            android:enabled="false"
            android:process=":leakcanary" />
        <service
            android:name="com.squareup.leakcanary.DisplayLeakService"
            android:enabled="false" />

        <activity android:name="com.squareup.leakcanary.internal.DisplayLeakActivity" />
        <!-- leakCanary end-->

        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a0c366cb27b0a254b0001d0"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng"></meta-data>
        <!--友盟 end-->
        <!--<activity-->
            <!--android:name=".activity.MultiSelectActivity"-->
            <!--android:screenOrientation="portrait" />-->


        <!--<activity-->
            <!--android:name=".activity.UsersActivity"-->
            <!--android:screenOrientation="portrait" />-->


        <!--<activity android:name=".activity.ReceiveMaterialActivity"-->
        <!--android:windowSoftInputMode="adjustUnspecified|stateHidden"-->
        <!--android:screenOrientation="portrait"></activity>-->

        <!--<activity android:name=".activity.ScanBindCarToOutActivity"-->
        <!--android:windowSoftInputMode="adjustUnspecified|stateHidden"-->
        <!--android:screenOrientation="portrait"></activity>-->

        <!--<activity android:name=".activity.BindCarNoActivity"-->
        <!--android:windowSoftInputMode="adjustUnspecified|stateHidden"-->
        <!--android:screenOrientation="portrait"></activity>-->
        <!--<activity android:name=".activity.DoneMaterialInfoActivity"-->
        <!--android:screenOrientation="portrait"></activity>-->
        <!--<activity android:name=".activity.SendMaterialListActivity"-->
        <!--android:screenOrientation="portrait"></activity>-->

        <!--<activity android:name=".activity.DoneSendMaterialInfoListActivity"-->
        <!--android:screenOrientation="portrait"></activity>-->

    </application>

</manifest>